<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- No permission at all: no network, no storage. The tool works offline and only talks to the user. -->
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/no_backup"
        android:fullBackupContent="false"
        android:label="CastBridge Propriétaire"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".OwnerActivity" android:exported="true" android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
